h1 {
  text-align: center;
}


img {
  width: 300px;
  height: 300px;
}


.primera {
  background-color: rgb(109, 16, 214);
  color: rgb(240, 141, 11);
}


#fila .gb {
  background-color: grey;
  font-size: 1em;
  text-align: center;
}


#listas li {
  color: rgb(243, 10, 10);
}


#cinco {
  background-color: rgb(13, 172, 212);
  padding-top: 50px;
  padding-bottom: 50px;
}


table {
  border-collapse: collapse;
  margin: 5px auto;
  width: 50%;
}

td,th {
  border: 1px solid rgb(253, 0, 0);
}


[colspan="3"],
[colspan="5"] {
  background-color: rgb(129, 34, 93);
}
